/* ==================HEADER=============================== */

.top-container {
  width: 1280px;
  margin: 0 auto;
}

.top-head {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px 0;
}

.log-sign {
  display: flex;
  gap: 30px;
}

.white-but {
  border-color: #2cb1ba;

  border-radius: 5px;
  background-color: white;
  color: #2cb1ba;
  width: 115px;
  height: 28px;
  font-size: 12px;
}

.blue-but {
  border: none;
  border-radius: 5px;
  background-color: #2cb1ba;
  color: white;
  width: 115px;
  height: 28px;
  font-size: 12px;
}

header img {
  width: 80px;
}

img {
  width: 100px;
}

/* ========================MAIN=================================== */

.container {
  width: 1220px;
  margin: 0 auto;
}

.container {
  font-size: 12px;
  display: flex;
  gap: 12px;
  overflow-x: hidden;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.owner {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.owner img {
  width: 20px;
  border-radius: 50px;
}

.picture-article {
  width: 233px;
  height: 360px;
  object-fit: cover;
  margin-bottom: 15px;
}

.price {
  font-size: 14px;
  margin-bottom: 6px;
}

.details {
  color: #999999;
}

.marque {
  margin-bottom: 6px;
}

/* ===============================================OFFER======================================= */

.offers {
  display: flex;
  justify-content: space-between;
}

.offers > img {
  width: 400px;
}

.description {
  width: 400px;
  border: 1px solid black;
  padding: 40px;
}

.description > p {
  font-size: 20px;
  margin-bottom: 30px;
}

.key {
  display: flex;

  gap: 150px;
}

.detail-key {
  width: 100px;
}

/* =========================SIGNUP========================================== */

.sign-form {
  width: 275px;
  margin: 0 auto;
}

.sign-form h1 {
  font-size: 24px;
  margin-bottom: 35px;
  margin-top: 60px;
}

input {
  margin-bottom: 30px;
  border-color: transparent;
  border-bottom: 1px solid red;
  font-size: 18px;
  width: 275px;
}

::placeholder {
  color: #cecfd0;
}

.sign-h1 {
  display: flex;
  justify-content: center;
}

.checkbox {
  display: flex;
  gap: 13px;
  align-items: center;
}

.checkbox label {
  color: #666666;
  font-size: 16px;
}

.checkbox input {
  width: 21px;
  height: 21px;
  margin: 0;
  margin-bottom: 5px;
}

.checkbox input:hover {
  cursor: pointer;
  border-width: 20px;
}

form p {
  color: #999999;
  font-size: 12px;
  margin-bottom: 45px;
}

form button {
  width: 275px;
  height: 45px;
  background-color: #2cb1ba;
  color: white;
  border: none;
  border-radius: 5px;
}
